<h1>Hello</h1>
<% if current_doctor.blank? %>
  <%= link_to('Doctor Login', new_doctor_session_path) %> | 
<% else %>
  <%= link_to "Doctor Dashboard", doctors_path %> | 
<% end %>
<% if current_patient.blank? %>
  <%= link_to('Patient Login', new_patient_session_path) %>
<% else %>
  <%= link_to "patient Dashboard", patients_path %>
<% end %>
